.content
{
    border: 1px solid white;
    border-radius: 10px;
    opacity: 0;
    width: 240px;
    margin: 5px;
    padding: 6px;
    background-color: black;
    color:white;
    position: relative;
    top:-110px;
    height: 80px;
    overflow: hidden;
    font-size: 10px;
}
.content:hover
{
    opacity: 0.75;
}
.skills
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    justify-content: space-around;
}
.name_project
{
    text-align: center;
    position: relative;
    top: -80px;
}
.projectitems
{
    display: grid;
    grid-template-columns: repeat(auto-fit,260px);
    justify-content: space-around;
}